DOMAIN=ваш-домен.ru

SECRET_KEY=your-secret-key-change-in-production
DEBUG=False # Режим разработки
ALLOWED_HOSTS=localhost,127.0.0.1,web #ip сервера, домен

DB_NAME=chel_realty
DB_USER=chel_user
DB_PASSWORD=chel_password
DB_HOST=db
DB_PORT=5432

# Максимальный размер (бит)
MAX_PHOTO_SIZE = 2097152
# Максимум фото 1го объекта недвиджимости
MAX_PHOTOS_PER_REALTY = 10

# Генерация SECRET_KEY:
# python -c "import secrets; print(secrets.token_urlsafe(50))"
