SECRET_KEY=your-secret-key-change-in-production
DEBUG=False # Режим разработки
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=chel_realty
DB_USER=chel_user
DB_PASSWORD=chel_password
DB_HOST=db
DB_PORT=5432

# Генерация SECRET_KEY:
# python -c "import secrets; print(secrets.token_urlsafe(50))"
